body{

	background-color:#F8F8FF;

	font-family: Sorts Mill Goudy;

}

h1{

	text-align: center;

	font-family: Sorts+Mill+Goudy;

}

h2{

	text-align:center;

	font-family: Sorts+Mill+Goudy;

}

hr {
	
    overflow: visible;

    height: 30px;

    border-style: solid;

    border-color: black;

    border-width: 1px 0 0 0;

    border-radius: 20px;
}

hr:before { 

    display: block;

    content: "";

    height: 30px;

    margin-top: -31px;

    border-style: solid;

    border-color: black;

    border-width: 0 0 1px 0;

    border-radius: 20px;
}

li{

	margin-left: 25%;
}

img{

	margin-left:33%;

	margin-right: 33%;
}